<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Imperator</servlet-name>
		<servlet-class>edu.itmo.zad.ImperatorServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Zadanie3</servlet-name>
		<servlet-class>edu.itmo.zad.Zadanie3Servlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Zadanie4</servlet-name>
		<servlet-class>edu.itmo.zad.Zadanie4Servlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Clazz</servlet-name>
		<servlet-class>edu.itmo.zad.spaceships.ClazzServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Iskl</servlet-name>
		<servlet-class>edu.itmo.zad.IsklServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Zadanie6</servlet-name>
		<servlet-class>edu.itmo.zad.zadanie6.Zadanie6</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReadGreenf</servlet-name>
		<servlet-class>edu.itmo.zad.zadanie6.ReadGreenf</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Imperator</servlet-name>
		<url-pattern>/imperator</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	<servlet-name>Zadanie3</servlet-name>
	<url-pattern>/zadanie3</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	<servlet-name>Zadanie4</servlet-name>
	<url-pattern>/zadanie4</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	<servlet-name>Clazz</servlet-name>
	<url-pattern>/clazz</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	<servlet-name>Iskl</servlet-name>
	<url-pattern>/iskl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	<servlet-name>Zadanie6</servlet-name>
	<url-pattern>/zadanie6</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	<servlet-name>ReadGreenf</servlet-name>
	<url-pattern>/readGreenf</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
