@CHARSET "UTF-8";
.html {
	height: 100%;
}
body {
	background-image: url(fon01.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color:#565656;
	padding: 0;
	text-align: center;
	color:#ddd;
	font-family: 'open sans';
	position: relative;
	margin: 0;
	height: 100%;
}
.wrapper {
	height: auto !important;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
}
h1,h2 {
	width: 100%;
	float: left;
}
h1 {
	margin-top: 30px;
	color: #ccc;
	margin-bottom: 5px;
}
h2 {
	color: #ddd;
	font-weight: 100;
	margin-top: 0;
	margin-bottom: 10px;
}
.pointer {
	color: #999;
	font-family: 'Pacifico', cursive;
	font-size: 30px;
	margin-top: 15px;
}
.main {
	float: left;
	width: 100%;
	margin: 0 auto;
}
.main h1 {
	padding: 15px 5px;
	float: left;
	width: 100%;
	font-size: 25px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-weight: 10;
	color: white;
	margin: 0;
}

.info {
	text-align: center;
	color: #5F9EA0;
	font-family: 'Pacifico', cursive;
	font-size: 20px;
	padding: 10px;
	margin-top:3%;
	background: rgba(255, 255, 255, 0.3);
	float: left;
	width: 100%;
}
.credit {
	text-align: center;
	color: #aaa;
	font-family: 'Pacifico', cursive;
	font-size: 20px;
	padding: 10px;
	margin: 3% 0 5% 0%;
	background: rgba(255, 255, 255, 0.25);
	float: left;
	width: 100%;
}
.credit a {
	 
	color:#D2691E;
	margin: 10px;
	text-decoration: none;
}
#key {
	color:#D2691E;
	margin: 10px;
	text-decoration: none;
}
a.knopka {
  display: inline-block;
  border-radius: 8px;
  color: #ccc;
  width: 20%;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: 1px 8px;
  outline: none;
  border: 2px solid;
  transition: 0.2s;
} 
a.knopka:hover { background: rgba(255,255,255,.2); }
a.knopka:active { background: white; }

a.knopkaBack {
  display: inline-block;
  border-radius: 20px;
  color: #ccc;
  width: auto;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: 1px 8px;
  outline: none;
  border: 2px solid;
  transition: 0.2s;
} 
a.knopkaBack:hover { background: rgba(255,255,255,.2); }
a.knopkaBack:active { background: white; }
.otv { 
    width:100%;
    color: #eee
    text-decoration: blink;
    text-align: center;
    overflow: hidden;
   } 
.otv1 { 
	color: #fff;
	font-weight:500;
    width:28%;
    float: left;
    height: 30%;
    overflow: auto;
    margin: 3%;
    text-align: center;
   }   
  #map-canvas {
	width:80%;
	margin-left:10%;
	height:75%;
	text-align:center;
  }  
  @font-face {
  font-family: 'fontello';
  src: url('fonts/fontello.eot?75507317');
  src: url('fonts/fontello.eot?75507317#iefix') format('embedded-opentype'),
       url('fonts/fontello.woff?75507317') format('woff'),
       url('fonts/fontello.ttf?75507317') format('truetype'),
       url('fonts/fontello.svg?75507317#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
}
.icon-vk:before { content: '\e803'; } 
.icon-github-circled:before { content: '\e801'; } 
.icon-gplus:before { content: '\e802'; } 
.icon-key:before { content: '\e800'; } 

#dann {
	width: 90%;
	margin: auto;
	border: 0px;
	background: rgba(12,12,12,.5);
}

#dann1 {
	width: 40%;
	margin: auto;
	border: 0px;
	background: rgba(12,12,12,.5);
	text-align: center;
}